.filter {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.filter__list {
  @extend %list;
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    align-content: space-between;
    margin: -8px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__item:first-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
