.feature {
  @extend %section;
}

.feature__list {
  @extend %list;

  line-height: 1.71;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.feature__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
  &::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $feature-list-color;
  }
}

@include generateTechIcons($techIcons);

.feature__title {
  @extend %title;
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $secondary-text-color;
}
