// Font-family
$main-font: Roboto, sans-serif;
$secondary-font: Raleway;
// Colors
$header-bg-color: #ffffff;
$primary-bg-color: #f5f4fa;
$header-border: #ececec;
$hero-bg-color: #c4c4c4;
$hero-overlay: rgba(47, 48, 58, 0.4);
$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$hero-button-hover: #188ce8;
$logo-text-color: #000000;
$footer-bg-color: #2f303a;
$footer-link-color: rgba(255, 255, 255, 0.6);
$border-color: #eeeeee;
$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$hover-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$feature-list-color: #f5f4fa;
$work-list-overlay: rgba(47, 48, 58, 0.8);
$icons-color: #afb1b8;
$team-cards-shadows: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$footer-social-link: rgba(255, 255, 255, 0.1);
$modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$portfolio-overlay: rgba(33, 150, 243, 0.9);

// Icons
$socialIcons: 'instagram', 'twitter', 'facebook', 'linkedin';
$techIcons: 'details', 'clock', 'diagram', 'astronaut';
